.matched-list-add-unit-container {
  padding: 20px;
}

.category {
  margin-bottom: 20px;
}

.category h3 {
  display: inline-block;
  margin-right: 10px;
}

.category button {
  cursor: pointer;
}

.category ul {
  list-style-type: none;
  padding-left: 0;
}

.category ul li {
  margin-bottom: 5px;
}
